<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FDHostdReleaseBaseURL</key>
	<string>$(FD_HOSTD_RELEASE_BASE_URL)</string>
	<key>FDHostdInstallerSHA256</key>
	<string>$(FD_HOSTD_INSTALLER_SHA256)</string>
</dict>
</plist>
